.centered {
	width: 60vw;
	height: 50vh;
	background-color: blue;
	margin: 0 auto; /* for keeping center div 0 from top auto bottom, both cannot be auto*/ 

}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
